.lineup-thumbs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (--mobile) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (--tablet-s) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
  }

  @media (--tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (--desktop-m) {
    grid-gap: 16px;
    grid-template-columns: repeat(5, 1fr);
  }

  @media (--desktop-l) {
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media (--desktop-xl) {
    grid-template-columns: repeat(8, 1fr);
  }
}
