.dates-navigator {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  color: var(--pale-text);

  &__item {
    cursor: pointer;
    width: 44px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--pale-text);

    &_current {
      width: 72px;
      font-size: 20px;
      line-height: 26px;
      color: var(--link-hover);
      border-bottom-width: 4px;
      border-bottom-color: var(--link-hover);

      @media (--desktop-l) {
        width: 87px;
        font-size: 24px;
        line-height: 31px;
      }
    }

    & + & {
      margin-top: 16px;
    }
  }
}
